doctype html
html
  head
    title #{title}
    link(rel='shortcut icon', href='http://www.catshaming.co.uk/wp-content/uploads/2014/11/favicon1.ico')
    link(rel='stylesheet', href='./style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div
      h1 #{title}
      img(src=`${name}` alt=`This is ${name}`)